//@use se utiliza para linkear las variables
//del archivo custom con este archivo
@use '../custom' as *;

@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}
